<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="fragments :: page_head('Home')"></head>
<body>

<div class="container-fluid">

    <div th:replace="navigation :: menu"></div>

    <div>
        <h2>Home Page</h2>
    </div>

    <div th:if="${message != null}" class="alert alert-success text-center">
        [[${message}]]
    </div>

    <div class="full-details">
            <table class="table table-bordered table-striped table-hover table-responsive-xl">
                <thead class="thead-dark">
                <tr>
                    <th>Name</th>
                    <th>Skill</th>
                    <th>Experience</th>
                    <th>Service Price</th>
                    <th>Email</th>
                    <th>Phone Numer</th>
                    <th></th>
                </tr>
                <tbody>
                <tr th:each="handyman : ${handymen}">
                    <td><span th:text="${handyman.name}">Name</span></td>
                    <td><span th:text="${handyman.skill}">Skill</span></td>
                    <td><span th:text="${handyman.experience}">Experience</span></td>
                    <td><span th:text="${handyman.servicePrice}">Service Price</span></td>
                    <td><span th:text="${handyman.email}">Email</span></td>
                    <td><span th:text="${handyman.phoneNumber}">Phone</span></td>
                    <td>
                        <div class="text-center">
                            <a th:href="@{'/orders/save/' + ${handyman.id}}" class="btn btn-primary m-3">Order</a>
                        </div>
                    </td>
                </tr>
                </tbody>
                </thead>
            </table>

    </div>

</div>

</body>
</html>
